# boto3
# fastapi
pydantic
# gunicorn
# uvicorn
loguru
httpx
asyncpg
sqlalchemy[asyncio]
# sqlalchemy
pgvector
asyncio
psycopg2-binary
jupyter
ipykernel
pandas
python-dotenv
openai[embeddings]
num2words
matplotlib
plotly
scipy
scikit-learn
tiktoken
guardrails-ai
